$guidelines: 0 dotted #000;

$col-darkest: #fff;
$col-lightest: #fff;
$col-grad-1: adjust-hue(invert(#d7d6e6), 70%);
$col-grad-2: #495aff;

$font-size-sm: 14px;
$font-size-xs: 6px;

@mixin footer() {
  font-size: $font-size-xs;
  letter-spacing: 1.5px;
  opacity: 0.7;
  text-align: center;
  text-transform: uppercase;
}

@mixin horizontal-center() {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  text-align: center;
}

@mixin horizontal-center-flex() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin ui-btn {
  border: 0 none;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin ui-btn-constructor($borderColor, $background) {
  border: 1px solid $borderColor !important;
  background: $background !important;
  margin-bottom: 0.5rem;
}

@mixin vertical-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

* {
  color: $col-lightest !important;
}

.options {
  @include vertical-center();
  height: 55%;

  input,
  input:focus {
    background: #ffffff2e;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background: #ffffff7e !important;
  }
}

body {
  background-image: linear-gradient(to top, $col-grad-1 0%, $col-grad-2 100%);
}

.btn {
  @include ui-btn;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-ans {
  border: 1px solid #ffffff2e;
  font-size: $font-size-sm + 4px;
  height: 55px;
  margin-bottom: 1px;
  text-transform: capitalize;
}

.btn-ans:active,
.btn-ans:hover {
  background-color: #ffffff6e !important;
  margin-bottom: 1px;
}

.btn-ans:focus {
  background-color: #ffffff3e !important;
  margin-bottom: 1px;
  outline: none !important;
}

.btn-nav {
  @include ui-btn-constructor(none, #ffffff2e);
  border-radius: 10px;
  color: $col-grad-1;
  height: 45px;
  transition: background 0.2s linear;
}

.btn-nav:hover,
.btn-nav:focus,
.open > .dropdown-toggle.btn-nav {
  @include ui-btn-constructor(none, #ffffff7e);
}

.btn-nav:active {
  @include ui-btn-constructor(none, #ffffff3e);
}

.btn-nav:active,
.btn-nav.active {
  @include ui-btn-constructor(none, #ffffff3e);
}

.btn-nav-2 {
  height: 40px !important;
}

.container {
  height: 100vh;
  transform: scale(0.95);
}

.debug-window {
  display: none;
  background-color: $col-grad-2;
  height: 100px;
  position: absolute;
  width: 100px;
}

.endscreen {
  @include vertical-center();
  height: 90%;
}

.endscreen h1 {
  animation: zoom-in 0.5s linear;
}

.footer {
  @include footer();
  @include vertical-center();
  height: 10vh;
}

.guidelines {
  border: $guidelines;
}

.hidden {
  display: none;
}

h1 {
  animation: zoom-in 0.5s linear;
}

hr {
  border: 1px solid #ffffff3e;
  width: 100%;
}

.lds-ellipsis {
  display: inline-block;
  height: 64px;
  position: relative;
  width: 64px;
}

.lds-ellipsis div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  background: $col-lightest;
  border-radius: 50%;
  height: 11px;
  position: absolute;
  top: 27px;
  width: 11px;
}

.lds-ellipsis div:nth-child(1) {
  animation: lds-ellipsis1 0.6s infinite;
  left: 6px;
}

.lds-ellipsis div:nth-child(2) {
  animation: lds-ellipsis2 0.6s infinite;
  left: 6px;
}

.lds-ellipsis div:nth-child(3) {
  animation: lds-ellipsis2 0.6s infinite;
  left: 26px;
}

.lds-ellipsis div:nth-child(4) {
  animation: lds-ellipsis3 0.6s infinite;
  left: 45px;
}

.loader {
  @include horizontal-center();
}

p,
td {
  font-weight: 300;
}

.progress {
  @include horizontal-center();
  background-color: #ffffff2e;
  border: 0 solid $col-grad-2;
  height: 2px;
  margin-top: 5px;
  width: 300px;
}

.progress-bar {
  background-color: #ffffff5e;
}

.progressbar {
  height: 10%;
  text-align: center;
}

.question {
  @include vertical-center();
  height: 20%;
  text-align: center;
}

.summary-table-nav {
  @include vertical-center();
  height: 20%;
}

.summary-table-screen {
  @include vertical-center();
  animation: appear 0.5s linear;
  height: 80%;
}

.summary-table-screen table {
  border: 1px solid #ffffff4e;
}

.summary-table-screen table td {
  border: 1px solid #ffffff1e;
  font-size: $font-size-sm;
  padding: 10px;
}

.summary-table-screen table th {
  border: 1px solid #ffffff1e;
  font-size: $font-size-sm;
  padding: 10px;
}

.summary-table-screen table tr:nth-child(even) {
  background-color: #ffffff1a;
}

.summary-table-wrapper {
  height: 325px !important;
  overflow: scroll;
}

.section-footer {
  border: $guidelines;
  height: 10%;
}

.section-hud {
  border: $guidelines;
  height: 10%;
}

.section-main {
  animation: appear 0.5s linear;
  border: $guidelines;
  height: 80%;
}

.shown {
  display: block;
}

small {
  color: #ffffff9e !important;
}

.timer {
  height: 5%;
  text-align: right;
}

.titlescreen {
  @include vertical-center();
  height: 65%;
}

.ui {
  height: 10%;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
